[submodule "dependencies/amfnv1a"]
	path = dependencies/amfnv1a
	url = git@github.com:robotea/amfnv1a.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = git@github.com:google/googletest.git
